In [1]:
import os
import pandas as pd
import numpy as np
import sqlalchemy as sql
from pathlib import Path

In [2]:
ipo_df = pd.read_csv(
    Path("./IPODataFull.csv")
)

C:\Users\ryans\Anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (1342,1425,1432,1543,1546,1549,1551,1552,1553,1562,1587,1588,1605,1608,1615,1619,1620,1621,1622,1629,1630,1632,1633,1640,1641,1642,1643,1644,1646) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [4]:
ipo_df.drop(ipo_df.iloc[:, 14:1320], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [5]:
ipo_df.drop(ipo_df.iloc[:, -325:], inplace = True, axis = 1)
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,CEOName,CEOGender,CEOInChargeDuringIPO,PresidentTakeOver,PresidentAge,PresidentName,PresidentGender,presidentInChargeDuringIPO,City,stateCountry
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Michael McMullen,male,No,2015.0,56.0,Michael McMullen,male,No,Santa Clara,CA
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,Michael Cartwright,male,Yes,2018.0,NaN,Michael Nanko,male,No,Brentwood,TN
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Chih-Hsiang Lin,unknown,No,2014.0,54.0,Chih-Hsiang Lin,unknown,No,Sugar Land,TX
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Thomas Greco,male,No,2016.0,59.0,Thomas Greco,male,No,Roanoke,VA
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Ernest Rady,male,No,2015.0,79.0,Ernest Rady,male,No,San Diego,CA

In [6]:
ipo_df.drop(ipo_df.iloc[:, 3:5], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,Month,Day,dayOfWeek,closeDay0,highDay0,openDay0,...,CEOName,CEOGender,CEOInChargeDuringIPO,PresidentTakeOver,PresidentAge,PresidentName,PresidentGender,presidentInChargeDuringIPO,City,stateCountry
0,A,122,249,1999,11,18,3,28.6358,33.5207,27.3725,...,Michael McMullen,male,No,2015.0,56.0,Michael McMullen,male,No,Santa Clara,CA
1,AAC,131,262,2014,10,2,3,18.5000,20.1000,17.6000,...,Michael Cartwright,male,Yes,2018.0,NaN,Michael Nanko,male,No,Brentwood,TN
2,AAOI,125,262,2013,9,26,3,9.9600,10.0900,9.3700,...,Chih-Hsiang Lin,unknown,No,2014.0,54.0,Chih-Hsiang Lin,unknown,No,Sugar Land,TX
3,AAP,128,261,2001,11,29,3,13.9000,14.4667,13.3833,...,Thomas Greco,male,No,2016.0,59.0,Thomas Greco,male,No,Roanoke,VA
4,AAT,123,127,2011,1,13,3,21.2500,22.0000,21.1800,...,Ernest Rady,male,No,2015.0,79.0,Ernest Rady,male,No,San Diego,CA

In [7]:
ipo_df.drop(ipo_df.iloc[:, 4:7], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,LastSale,...,CEOName,CEOGender,CEOInChargeDuringIPO,PresidentTakeOver,PresidentAge,PresidentName,PresidentGender,presidentInChargeDuringIPO,City,stateCountry
0,A,122,249,1999,28.6358,33.5207,27.3725,30.6572,59753154.0,68.17,...,Michael McMullen,male,No,2015.0,56.0,Michael McMullen,male,No,Santa Clara,CA
1,AAC,131,262,2014,18.5000,20.1000,17.6000,20.0000,2799073.0,11.07,...,Michael Cartwright,male,Yes,2018.0,NaN,Michael Nanko,male,No,Brentwood,TN
2,AAOI,125,262,2013,9.9600,10.0900,9.3700,10.0000,948999.0,29.97,...,Chih-Hsiang Lin,unknown,No,2014.0,54.0,Chih-Hsiang Lin,unknown,No,Sugar Land,TX
3,AAP,128,261,2001,13.9000,14.4667,13.3833,13.4000,371100.0,106.45,...,Thomas Greco,male,No,2016.0,59.0,Thomas Greco,male,No,Roanoke,VA
4,AAT,123,127,2011,21.2500,22.0000,21.1800,21.5300,15536889.0,34.00,...,Ernest Rady,male,No,2015.0,79.0,Ernest Rady,male,No,San Diego,CA

In [8]:
ipo_df.drop(ipo_df.iloc[:, -12:-2], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,LastSale,MarketCap,ADR TSO,Sector,Industry,Summary Quote,ipoDate,City,stateCountry
0,A,122,249,1999,28.6358,33.5207,27.3725,30.6572,59753154.0,68.17,2.198323e+10,NaN,Capital Goods,Biotechnology: Laboratory Analytical Instruments,https://www.nasdaq.com/symbol/a,11/18/99 0:00,Santa Clara,CA
1,AAC,131,262,2014,18.5000,20.1000,17.6000,20.0000,2799073.0,11.07,2.707691e+08,NaN,Health Care,Medical Specialities,https://www.nasdaq.com/symbol/aac,10/2/14 0:00,Brentwood,TN
2,AAOI,125,262,2013,9.9600,10.0900,9.3700,10.0000,948999.0,29.97,5.844368e+08,NaN,Technology,Semiconductors,https://www.nasdaq.com/symbol/aaoi,9/26/13 0:00,Sugar Land,TX
3,AAP,128,261,2001,13.9000,14.4667,13.3833,13.4000,371100.0,106.45,7.874971e+09,NaN,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/aap,11/29/01 0:00,Roanoke,VA
4,AAT,123,127,2011,21.2500,22.0000,21.1800,21.5300,15536889.0,34.00,1.604956e+09,NaN,Consumer Services,Real Estate Investment Trusts,https://www.nasdaq.com/symbol/aat,1/13/11 0:00,San Diego,CA

In [9]:
ipo_df.drop(ipo_df.columns[[9, 11, 14]], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,MarketCap,Sector,Industry,ipoDate,City,stateCountry
0,A,122,249,1999,28.6358,33.5207,27.3725,30.6572,59753154.0,2.198323e+10,Capital Goods,Biotechnology: Laboratory Analytical Instruments,11/18/99 0:00,Santa Clara,CA
1,AAC,131,262,2014,18.5000,20.1000,17.6000,20.0000,2799073.0,2.707691e+08,Health Care,Medical Specialities,10/2/14 0:00,Brentwood,TN
2,AAOI,125,262,2013,9.9600,10.0900,9.3700,10.0000,948999.0,5.844368e+08,Technology,Semiconductors,9/26/13 0:00,Sugar Land,TX
3,AAP,128,261,2001,13.9000,14.4667,13.3833,13.4000,371100.0,7.874971e+09,Consumer Services,Other Specialty Stores,11/29/01 0:00,Roanoke,VA
4,AAT,123,127,2011,21.2500,22.0000,21.1800,21.5300,15536889.0,1.604956e+09,Consumer Services,Real Estate Investment Trusts,1/13/11 0:00,San Diego,CA

In [10]:
ipo_df.set_index("Year", inplace=True)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,MarketCap,Sector,Industry,ipoDate,City,stateCountry
Year,,,,,,,,,,,,,,
1999,A,122,249,28.6358,33.5207,27.3725,30.6572,59753154.0,2.198323e+10,Capital Goods,Biotechnology: Laboratory Analytical Instruments,11/18/99 0:00,Santa Clara,CA
2014,AAC,131,262,18.5000,20.1000,17.6000,20.0000,2799073.0,2.707691e+08,Health Care,Medical Specialities,10/2/14 0:00,Brentwood,TN
2013,AAOI,125,262,9.9600,10.0900,9.3700,10.0000,948999.0,5.844368e+08,Technology,Semiconductors,9/26/13 0:00,Sugar Land,TX
2001,AAP,128,261,13.9000,14.4667,13.3833,13.4000,371100.0,7.874971e+09,Consumer Services,Other Specialty Stores,11/29/01 0:00,Roanoke,VA
2011,AAT,123,127,21.2500,22.0000,21.1800,21.5300,15536889.0,1.604956e+09,Consumer Services,Real Estate Investment Trusts,1/13/11 0:00,San Diego,CA

In [11]:
ipo_sorted = ipo_df.sort_values(["Year"], ascending=True)

ipo_sorted.head()

,Symbol,DaysBetterThanSP,daysProfit,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,MarketCap,Sector,Industry,ipoDate,City,stateCountry
Year,,,,,,,,,,,,,,
1996,NBIX,99,43,12.5000,13.2500,11.0000,12.5000,4194099.0,6.768119e+09,Health Care,Biotechnology: Biological Products (No Diagnos...,5/23/96 0:00,San Diego,CA
1996,GLBZ,13,0,9.6455,9.6455,9.6455,9.6455,0.0,3.351325e+07,Finance,Major Banks,9/12/96 0:00,Glen Burnie,MD
1996,ARCW,75,254,2.3400,2.3400,1.9500,NaN,1794.0,5.243846e+07,Capital Goods,Metal Fabrications,12/9/96 0:00,Deland,FL
1996,ARDM,86,105,1950.0000,2225.0000,1903.2000,1950.0000,10848.0,2.396892e+07,Health Care,Biotechnology: Electromedical & Electrotherape...,6/20/96 0:00,NaN,NaN
1996,RUSHB,65,70,4.6667,4.6667,4.0833,4.6667,2060099.0,1.495985e+09,Consumer Durables,Automotive Aftermarket,6/7/96 0:00,New Braunfels,TX

In [ ]:
ipo_sorted["MarketCap"]