In [85]:
import os
import pandas as pd
import numpy as np
import sqlalchemy as sql
from pathlib import Path
import questionary

In [86]:
path = "C://Users//17049//Desktop//Project//Project_1_TBD//IPODataFull.csv"
ipo_df = pd.read_csv(path, encoding='latin1')

C:\Users\17049\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1342,1425,1432,1543,1546,1549,1551,1552,1553,1562,1587,1588,1605,1608,1615,1619,1620,1621,1622,1629,1630,1632,1633,1640,1641,1642,1643,1644,1646) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [87]:
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [88]:
ipo_df.drop(ipo_df.iloc[:, 14:1320], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [89]:
ipo_df.drop(ipo_df.iloc[:, -325:], inplace = True, axis = 1)
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,CEOName,CEOGender,CEOInChargeDuringIPO,PresidentTakeOver,PresidentAge,PresidentName,PresidentGender,presidentInChargeDuringIPO,City,stateCountry
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Michael McMullen,male,No,2015.0,56.0,Michael McMullen,male,No,Santa Clara,CA
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,Michael Cartwright,male,Yes,2018.0,NaN,Michael Nanko,male,No,Brentwood,TN
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Chih-Hsiang Lin,unknown,No,2014.0,54.0,Chih-Hsiang Lin,unknown,No,Sugar Land,TX
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Thomas Greco,male,No,2016.0,59.0,Thomas Greco,male,No,Roanoke,VA
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Ernest Rady,male,No,2015.0,79.0,Ernest Rady,male,No,San Diego,CA

In [90]:
ipo_df.drop(ipo_df.iloc[:, 3:5], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,Month,Day,dayOfWeek,closeDay0,highDay0,openDay0,...,CEOName,CEOGender,CEOInChargeDuringIPO,PresidentTakeOver,PresidentAge,PresidentName,PresidentGender,presidentInChargeDuringIPO,City,stateCountry
0,A,122,249,1999,11,18,3,28.6358,33.5207,27.3725,...,Michael McMullen,male,No,2015.0,56.0,Michael McMullen,male,No,Santa Clara,CA
1,AAC,131,262,2014,10,2,3,18.5000,20.1000,17.6000,...,Michael Cartwright,male,Yes,2018.0,NaN,Michael Nanko,male,No,Brentwood,TN
2,AAOI,125,262,2013,9,26,3,9.9600,10.0900,9.3700,...,Chih-Hsiang Lin,unknown,No,2014.0,54.0,Chih-Hsiang Lin,unknown,No,Sugar Land,TX
3,AAP,128,261,2001,11,29,3,13.9000,14.4667,13.3833,...,Thomas Greco,male,No,2016.0,59.0,Thomas Greco,male,No,Roanoke,VA
4,AAT,123,127,2011,1,13,3,21.2500,22.0000,21.1800,...,Ernest Rady,male,No,2015.0,79.0,Ernest Rady,male,No,San Diego,CA

In [91]:
ipo_df.drop(ipo_df.iloc[:, 4:7], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,LastSale,...,CEOName,CEOGender,CEOInChargeDuringIPO,PresidentTakeOver,PresidentAge,PresidentName,PresidentGender,presidentInChargeDuringIPO,City,stateCountry
0,A,122,249,1999,28.6358,33.5207,27.3725,30.6572,59753154.0,68.17,...,Michael McMullen,male,No,2015.0,56.0,Michael McMullen,male,No,Santa Clara,CA
1,AAC,131,262,2014,18.5000,20.1000,17.6000,20.0000,2799073.0,11.07,...,Michael Cartwright,male,Yes,2018.0,NaN,Michael Nanko,male,No,Brentwood,TN
2,AAOI,125,262,2013,9.9600,10.0900,9.3700,10.0000,948999.0,29.97,...,Chih-Hsiang Lin,unknown,No,2014.0,54.0,Chih-Hsiang Lin,unknown,No,Sugar Land,TX
3,AAP,128,261,2001,13.9000,14.4667,13.3833,13.4000,371100.0,106.45,...,Thomas Greco,male,No,2016.0,59.0,Thomas Greco,male,No,Roanoke,VA
4,AAT,123,127,2011,21.2500,22.0000,21.1800,21.5300,15536889.0,34.00,...,Ernest Rady,male,No,2015.0,79.0,Ernest Rady,male,No,San Diego,CA

In [92]:
ipo_df.drop(ipo_df.iloc[:, -12:-2], inplace = True, axis = 1)

ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,LastSale,MarketCap,ADR TSO,Sector,Industry,Summary Quote,ipoDate,City,stateCountry
0,A,122,249,1999,28.6358,33.5207,27.3725,30.6572,59753154.0,68.17,2.198323e+10,NaN,Capital Goods,Biotechnology: Laboratory Analytical Instruments,https://www.nasdaq.com/symbol/a,11/18/99 0:00,Santa Clara,CA
1,AAC,131,262,2014,18.5000,20.1000,17.6000,20.0000,2799073.0,11.07,2.707691e+08,NaN,Health Care,Medical Specialities,https://www.nasdaq.com/symbol/aac,10/2/14 0:00,Brentwood,TN
2,AAOI,125,262,2013,9.9600,10.0900,9.3700,10.0000,948999.0,29.97,5.844368e+08,NaN,Technology,Semiconductors,https://www.nasdaq.com/symbol/aaoi,9/26/13 0:00,Sugar Land,TX
3,AAP,128,261,2001,13.9000,14.4667,13.3833,13.4000,371100.0,106.45,7.874971e+09,NaN,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/aap,11/29/01 0:00,Roanoke,VA
4,AAT,123,127,2011,21.2500,22.0000,21.1800,21.5300,15536889.0,34.00,1.604956e+09,NaN,Consumer Services,Real Estate Investment Trusts,https://www.nasdaq.com/symbol/aat,1/13/11 0:00,San Diego,CA

In [93]:
ipo_df.drop(ipo_df.columns[[9, 11, 14]], inplace = True, axis = 1)

ipo_df

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,MarketCap,Sector,Industry,ipoDate,City,stateCountry
0,A,122,249,1999,28.6358,33.5207,27.3725,30.6572,59753154.0,2.198323e+10,Capital Goods,Biotechnology: Laboratory Analytical Instruments,11/18/99 0:00,Santa Clara,CA
1,AAC,131,262,2014,18.5000,20.1000,17.6000,20.0000,2799073.0,2.707691e+08,Health Care,Medical Specialities,10/2/14 0:00,Brentwood,TN
2,AAOI,125,262,2013,9.9600,10.0900,9.3700,10.0000,948999.0,5.844368e+08,Technology,Semiconductors,9/26/13 0:00,Sugar Land,TX
3,AAP,128,261,2001,13.9000,14.4667,13.3833,13.4000,371100.0,7.874971e+09,Consumer Services,Other Specialty Stores,11/29/01 0:00,Roanoke,VA
4,AAT,123,127,2011,21.2500,22.0000,21.1800,21.5300,15536889.0,1.604956e+09,Consumer Services,Real Estate Investment Trusts,1/13/11 0:00,San Diego,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,ZUMZ,139,261,2005,12.4350,12.5750,10.2500,10.2750,6793424.0,6.085133e+08,Consumer Services,Clothing/Shoe/Accessory Stores,5/6/05 0:00,Lynnwood,WA
3758,ZUO,5,7,2018,20.0000,21.8500,19.1200,20.0000,13102419.0,2.132269e+09,NaN,NaN,4/12/18 0:00,Redwood City,CA
3759,ZX,102,25,2011,5.8500,6.2000,5.6000,6.0000,4987284.0,6.711250e+07,Capital Goods,Auto Parts:O.E.M.,5/12/11 0:00,Zhangzhou,China
3760,ZYME,115,19,2017,13.0000,14.2500,13.0000,13.5000,953887.0,3.068106e+08,Health Care,Major Pharmaceuticals,4/28/17 0:00,Vancouver,Canada
3761,ZYNE,104,42,2015,16.2500,22.2500,15.5000,18.0000,1535500.0,1.358850e+08,Health Care,Major Pharmaceuticals,8/5/15 0:00,Devon,PA

In [97]:
#questionary.text("What year would you like to view IPO data for? (2011 thru 2018)").ask()

In [107]:
ipo_df.drop(ipo_df[ipo_df['Year'] < 2011].index, inplace = True)
ipo_df.sort_values(['Year', 'volumeDay0'], ascending = False)
ipo_group = ipo_df.groupby('Year').head(10).sort_values(['Year'])
ipo_group

,Symbol,DaysBetterThanSP,daysProfit,Year,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,MarketCap,Sector,Industry,ipoDate,City,stateCountry
76,AFT,113,30,2011,20.000,20.010,19.95,20.00,761700.0,2.639634e+08,NaN,NaN,2/24/11 0:00,New York,NY
4,AAT,123,127,2011,21.250,22.000,21.18,21.53,15536889.0,1.604956e+09,Consumer Services,Real Estate Investment Trusts,1/13/11 0:00,San Diego,CA
122,AL,120,31,2011,27.950,28.400,26.75,27.25,20033208.0,4.426126e+09,Technology,Diversified Commercial Services,4/19/11 0:00,Los Angeles,CA
89,AGRO,112,140,2011,12.000,12.110,10.75,10.75,8790447.0,9.631449e+08,Consumer Non-Durables,Farming/Seeds/Milling,1/28/11 0:00,NaN,NaN
43,ACST,23,261,2011,10.974,11.391,10.87,10.87,2000.0,2.820204e+07,Health Care,Major Pharmaceuticals,5/6/11 0:00,Laval,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,CDLX,22,51,2018,13.370,13.900,11.10,12.10,3094872.0,2.887373e+08,Technology,"Computer Software: Programming, Data Processing",2/9/18 0:00,Atlanta,GA
91,AGS,36,61,2018,18.500,18.920,16.66,17.00,5379050.0,7.514021e+08,Consumer Durables,Miscellaneous manufacturing industries,1/26/18 0:00,Las Vegas,NV
105,AIHS,17,25,2018,5.650,6.000,5.25,5.51,232369.0,1.657500e+08,Finance,Finance: Consumer Services,3/16/18 0:00,NaN,NaN
61,ADT,31,14,2018,12.390,12.970,12.00,12.65,68187376.0,6.734694e+09,Consumer Services,Diversified Commercial Services,1/19/18 0:00,Boca Raton,FL
595,CEPU,24,55,2018,17.700,18.250,16.10,16.50,6230577.0,3.254000e+08,Public Utilities,Electric Utilities: Central,2/2/18 0:00,Buenos Aires,Argentina

In [ ]:
ipo_sector = ipo_df